[submodule "almLib"]
	path = almLib
	url = git@github.com:Bhavana1233/almLib.git
[submodule "PrimeIntegerations"]
	path = PrimeIntegerations
	url = git@github.com:Bhavana1233/PrimeIntegerations.git

[submodule "src/almLib"]
	path = src/almLib
	url = git@github.com:Bhavana1233/almLib.git
[submodule "adobe-learning-manager-components-develop"]
	path = adobe-learning-manager-components-develop
	url = git@github.com:Bhavana1233/almComponents.git
