[submodule "subprime"]
	path = subprime
	url = git@github.com:Bhavana1233/subprime.git
[submodule "almLib"]
	path = almLib
	url = git@github.com:Bhavana1233/almLib.git
[submodule "PrimeIntegerations"]
	path = PrimeIntegerations
	url = git@github.com:Bhavana1233/PrimeIntegerations.git
